body
{
    border-top:0;
}

#titleHold
{
    height:40px;
    width:100%;
    background-color:#5c60a3;
    color:white;
    position:relative;
    border-width:0 0 3px 0;
    border-style:solid;
    border-color:#333333;
}
#title
{
    position: absolute;
    bottom: 2px;
    left: 20px;
    font-size:26px;
    font-family:sans-serif;
    font-weight:700
}
#authorize-button
{
    height:36px;
    top:2px;
    border-width:0;
    position:absolute;
    padding: 0 10px;
    margin:0;
    right:10px;
}
#make-api-call-button
{
    display: none;
    padding:0;
    margin:0;
}
#reportBody
{
    width:100%;
    min-height:600px;
    background-color:#FAFAFA;
    position:relative;
}
#myControls
{
    position:absolute;
    top:20px;
    left:20px;
    border-width:2px;
    border-style:solid;
    border-color:#CBCBCB;
}
#myControls table
{
    margin:0 10px 10px 10px;
}
#myControls input
{
    width:150px;
    padding:5px 0;
    text-align:center;
}
#myControls select
{
    width:150px;
    height:30px;
}
#controlsTitle
{
    height:16px;
    font-size:14px;
    padding:0px 5px 5px 5px;
    color:white;
    background-color:#5c60a3;
    border-width:0 0 1px;
    border-style:solid;
    border-color:#CBCBCB;
}
.guide
{
    color:#888888;
}
#chartHolder
{
    position:absolute;
    top:20px;
    right:20px;
}
.col:hover
{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    cursor: pointer;
}

.button
{
    display:inline-block;
    *display:inline;
    zoom:1;
}

.button:hover
{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    cursor: pointer;
    font-weight:700;
}
#tableHolder
{
    position:absolute;
    top:600px;
    width:90%;
    left:5%;
    min-height:100px;
    background-color:#FF0000;

}


#customerUpdate
{
    position:absolute;
    padding-right:10px;
    bottom:0px;
    right:0px;
    min-width:400px;
    min-height:20px;
    border-width:2px 0 0 2px;
    border-style:solid;
    border-color:#CBCBCB;
    text-align:right;
    background-color:White;
}

.loaderGif
{
    margin-bottom:-4px;
    padding-right:5px;
}